body {
  background: url('../wallpaper/desk-wallpaper.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  overflow: auto;
}

.btn-success.btn-send {
	background-color: #000;
	border-color: #000;
}

.btn-primary {
  background-color: #000;
  border-color: #000;
}

.navbar-custom {
  background-color: #f1f1f1;
}

.header-title {
	position: relative;
	margin-top: 5%;
}

.contact-form {
	position: relative;
	margin-top: 2%; 
}

.row {
  margin-right: 1em;
  margin-left: 1em;
}


