body {
	background: url('../wallpaper/rosemary-minimal.jpg') no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	-o-background-size: cover;
  overflow: auto;
}

.donation-frame {
	position: relative;
	margin-top: 2%;
}

.header-title {
	position: relative;
	margin-top: 5%;
}

