.header-title {
	position: relative;
	margin-top: 5%;
}

.masthead {
  height: 100vh;
  min-height: 500px;
}

body {
	background: url('../wallpaper/plant-minimal.jpg') no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	-o-background-size: cover;
  overflow: auto;
}

